<div style="padding:50px; text-align: center;">
<h1>Login form</h1>

<form #loginform ="ngForm" (ngSubmit)="LoginMe(loginform.value)">
    <input type="text" ngModel name="fullname" placeholder="full name"/><br><br>
    <input type="text" ngModel name="email" placeholder="email"/><br><br>
    <input type="text" ngModel name="password" placeholder="password"/><br><br>
<button>Register</button>
</form>
</div>
<div>
    Fullname:{{loginformdata.fullname}}<br>
    email:{{loginformdata.email}}<br>
    password:{{loginformdata.password}}<br>
</div>


