@model SampleCRUD.Models.Student

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddUpdateStudent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="text-danger"> @ViewBag.ErrorMessage</div>
            <div class="form-group">
                <input type="hidden" asp-for="StudentId" value="0" />
                <input type="hidden" asp-for="Department" value="0" />
                <label asp-for="Department" class="control-label"></label>
                <select asp-for="DepartmentId" class="form-control" asp-items="@(new SelectList(ViewBag.DepartmentList,"DepartmentId","DepartmentName"))"></select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mobile" class="control-label"></label>
                <input asp-for="Mobile" class="form-control" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
